<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>

    <!-- Show progress -->
    <arg value="p"/>

    <!-- Paths to check -->
    <file>src</file>
    <file>tests</file>
    <exclude-pattern>tests/data/*</exclude-pattern>

    <!-- Include all rules from the Zend Coding Standard -->
    <rule ref="ZendCodingStandard">
        <exclude name="Generic.Files.LineLength"/>
    </rule>

</ruleset>
